:root {
  --pink: #cc465e;
  --white: white;
  --black: black;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url("../../../static/fonts/source-sans-pro-v13-latin-300.woff2")
      format("woff2"),
    url("../../../static/fonts/source-sans-pro-v13-latin-300.woff")
      format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("../../../static/fonts/source-sans-pro-v13-latin-700.woff2")
      format("woff2"),
    url("../../../static/fonts/source-sans-pro-v13-latin-700.woff")
      format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../../../static/fonts/oswald-v31-latin-300.woff2") format("woff2"),
    url(".../../../static/fonts/oswald-v31-latin-300.woff") format("woff");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--white);
}

main {
  max-width: 37.5em;
}

h1,
h2,
h3 {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

p,
pre,
code {
  line-height: 1.5;
}

header,
main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

header {
  text-align: center;
}
/* Header Logo (style as h2) */
header > em {
  display: block;
  font-size: 2em;
  margin: 0.67em 0 0;
  font-weight: bold;
  font-style: normal;
}

/* Header Nav */
header nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--white);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

a,
a:visited {
  color: var(--pink);
}

a:not(:hover) {
  text-decoration: none;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--pink);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--pink);
  background-color: var(--pink);
  color: var(--white);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--pink);
  background-color: var(--pink);
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

.oswald {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.dark,
.dark:visited {
  color: var(--black);
}

.uppercase {
  text-transform: uppercase;
}
