{% from "components/icons.njk" import icon %}

<div class="social-block">
    <img alt="illustrated portrait of Jennifer Posh" src="/static/img/jp_portrait.jpg" class="portrait" />
    <div class="social-bar">
        <a href="https://twitter.com/jenniferposh" target="_blank" rel="noopener noreferrer">
            {{ icon({ id: 'twitter' }) }}
        </a>
        <a href="https://www.linkedin.com/in/jenniferposh/" target="_blank" rel="noopener noreferrer">
            {{ icon({ id: 'linkedin' }) }}
        </a>
        <a href="mailto:jenniferposh@gmail.com">
            {{ icon({ id: 'mail' }) }}
        </a>
    </div>
</div>
